SITE_URL=http://localhost:4555

GOOGLE_SITE_VERIFICATION_ID=ABCDEF
FATHOM_SITE_ID=ABCDEF
FATHOM_SCRIPT_URL=https://youdomain.com/script.js
GOOGLE_ANALYTICS_ID=UA-123456789-1
METRICAL_APP_ID=ABCDEF
PLAUSIBLE_DOMAIN=yourdomain.com
PLAUSIBLE_SCRIPT_URL=https://youdomain.com/yoursript.js
UMAMI_ID=ABCDEF
UMAMI_SCRIPT_URL=https://your-umami-app.com/umami.js
AMPLITUDE_API_KEY=ABCDEF
MATOMO_ID=1
MATOMO_SCRIPT_URL=https://yourdomain.com